<section id="estimated-delivery" style="text-align: center; margin-top: 1em">
  <strong>Estimated Delivery</strong>
  <div id="estimatedDays"></div>
</section>

<script>
!(function () {
  const getWeekDay = (day) => {
    const weekday = [
      "Domenica",
      "Lunedi",
      "Martedì",
      "Mercoledì",
      "Giovedì",
      "Venerdì",
      "Sabato",
    ];
    return weekday[day % weekday.length];
  };
  const getMonth = (month, short) => {
    const months = [
      "Gennaio",
      "Febbraio",
      "Marzo",
      "Aprile",
      "Maggio",
      "Giugno",
      "Luglio",
      "Agosto",
      "Settembre",
      "Ottobre",
      "Novembre",
      "Dicembre",
    ];
    const str = months[month % months.length];
    return short ? str.substring(0, 3) : str;
  };

  const isHoliday = (date) => {
    const day = new Date(date).getDay();
    return day === 0 || day === 6;
  };

  const getValidDeliveryDay = (date) => {
    let validDate = new Date(date);

    while (isHoliday(validDate)) {
      validDate.setDate(validDate.getDate() + 1);
    }

    return validDate;
  };

  const getEstimatedDelivery = (date) => {
    let temp = new Date(date);

    temp.setDate(temp.getDate() + 1);

    let day1 = getValidDeliveryDay(temp);

    temp.setDate(temp.getDate() + 1);

    let day2 = getValidDeliveryDay(temp);

    switch (date.getDay()) { // Special Cases
      case 0:   // Sunday
        day1.setDate(day1.getDate() + 1);   // Set Day 1 to Tuesday
        day2.setDate(day2.getDate() + 1);   // Set Day 2 to Wednesday
        break;
      case 5:   // Friday
        day2.setDate(day2.getDate() + 1);   // Set Day 2 to Tuesday
        break;
      case 6:   // Saturday
        day1.setDate(day1.getDate() + 1);   // Set Day 1 to Tuesday
        day2.setDate(day2.getDate() + 2);   // Set Day 2 to Wednesday
        break;
    }

    return { day1, day2 };
  };
  
  const { day1, day2 } = getEstimatedDelivery(new Date());
  let html = `${getWeekDay(day1.getDay())} - `;
  html += `${getWeekDay(day2.getDay())} `;
  html += `(${day1.getDate()} ${getMonth(day1.getMonth(), true)} - `;
  html += `${day2.getDate()} ${getMonth(day1.getMonth(), true)})`;

  const container = document.querySelector(
    "#estimated-delivery #estimatedDays"
  );
  container.innerHTML = html;
})();
</script>
