<section id="estimated-delivery" style="text-align: center; margin-top: 1em">
  <strong>Estimated Delivery</strong>
  <div id="estimatedDays"></div>
</section>

<script>
  // Months and Days are in italian
  !(function () {
    const getWeekDay = (day) => {
      const weekday = [
        "Domenica",
        "Lunedi",
        "Martedì",
        "Mercoledì",
        "Giovedì",
        "Venerdì",
        "Sabato",
      ];

      return weekday[day % weekday.length];
    };

    const getMonth = (month, short) => {
      const months = [
        "Gennaio",
        "Febbraio",
        "Marzo",
        "Aprile",
        "Maggio",
        "Giugno",
        "Luglio",
        "Agosto",
        "Settembre",
        "Ottobre",
        "Novembre",
        "Dicembre",
      ];
      const str = months[month % months.length];
      return short ? str.substring(0, 3) : str;
    };

    const getEstimatedDelivery = () => {
      const d = new Date();
      const deliveryDate = new Date(d);
      deliveryDate.setDate(deliveryDate.getDate() + 2);

      let deliveryDay;

      switch (deliveryDate.getDay()) {
        case "Friday":
          deliveryDay = deliveryDate.setDate(deliveryDate.getDate() + 2);
          break;
        case "Saturday":
          deliveryDay = deliveryDate.setDate(deliveryDate.getDate() + 1);
          break;
        default:
          deliveryDay = deliveryDate.getDay();
          break;
      }

      const day1 = deliveryDate,
        day2 = new Date(deliveryDate);

      day2.setDate(deliveryDate.getDate() + 1);

      return { day1, day2 };
    };

    const { day1, day2 } = getEstimatedDelivery();
    const container = document.querySelector(
      "#estimated-delivery #estimatedDays"
    );
    let html = `${getWeekDay(day1.getDay())} - `;
    html += `${getWeekDay(day2.getDay())} `;
    html += `(${day1.getDate()} ${getMonth(day1.getMonth(), true)} - `;
    html += `${day2.getDate()} ${getMonth(day1.getMonth(), true)})`;

    container.innerHTML = html;
  })();
</script>
