{% comment %}
  Size chart is saved as an image size_chart metafield
{% endcomment %}

<section class="size-chart">
  <div id="previewImage" class="preview-image js-expand-on-click">
    <img src="{{ product.metafields.custom.size_chart | img_url: 'x480' }}" alt="" srcset="">
  </div>

  <div class="modal-wrapper hidden">
    <div class="content-wrapper">
      <div class="size-chart-modal">
        <span class="close-modal js-close-modal">&times;</span>
        <img id="expandedImage" class="zoomed-image"
          data-src="{{ product.metafields.custom.size_chart | img_url: 'grande' }}" />
      </div>
    </div>
  </div>
</section>
<style>
  .preview-image {
    cursor: pointer;
  }

  .modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .content-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .modal-wrapper.hidden {
    display: none;
  }

  .modal-wrapper.hidden .size-chart-modal {
    opacity: 0;
  }

  .size-chart img {
    margin: 0;
  }

  .size-chart-modal {
    position: relative;
    max-width: 600px;
    width: 100%;
    background-color: white;
    transition: opacity 0.4s;
  }

  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    color: black;
    line-height: 1;
    transition: background-color 0.4s;
    font-size: 24px;
  }

  .close-modal:hover {
    background-color: antiquewhite;

  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const container = $("section.size-chart");
    const previewImage = container.find("#previewImage");
    const expandedImage = container.find("#expandedImage");
    const modalWrapper = container.find(".modal-wrapper");
    const modalCloseButton = container.find(".js-close-modal");

    previewImage.click(() => {
      modalWrapper.fadeIn().removeClass("hidden")
      expandedImage.attr("src", expandedImage.data("src"))
    });

    modalCloseButton.click(() => {
      modalWrapper.fadeOut().addClass("hidden");
    });
  })
</script>
